.head {
  padding: 20px 0;
  color: #000;
}
.logo h1 {
  font-size: 20px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
.head nav {
  align-items: center;
}
.head nav a {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 3px;
  line-height: 18px;
  text-transform: uppercase;
}
.head nav a:hover {
  cursor: pointer;
  color: #d4b254;
}
.head button {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 30px;
  text-align: center;
  letter-spacing: 3px;
  margin-left: 60px;
  color: #ffffff;
  text-transform: uppercase;
}
.head button img {
  margin-left: 10px;
}
.logo .mhkLogo {
  padding: 0 70px;
}
.head .social {
  margin-right: 60px;
}
.toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .head {
    margin: 0;
    position: relative;
  }
  .head .nav-items,
  .mobile-order-btn,
  .mobile-mhkLogo,
  .mobile-social {
    display: none;
  }
  .mobile-nav {
    position: relative;
    width: 100%;
  }
  .toggle {
    display: block;
    background: none;
    color: #ffffff;
    position: relative;
    right: 30px;
    top: 20px;
  }
}
